* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 1px solid #fff;
}

body {
    background-color: rgb(71, 71, 87);
    font-family: 'quicksand', sans-serif;
}


h1,p {
    color: white;
}